.mainPhotos {
    max-height: 250px;
    max-width: 250px;
    border: 5px solid yellow;
}

figure {
    text-align: center;
}

body {
    background-color: blueviolet;
    color: blue;
}
.instaIcon {
    height: auto;
    max-width: 50px;
}


